<div class="confirm-acc-page-wrapper">
    <div class="card" data-turbo="false">
        <h1 class="page-heading">Resend confirmation instructions</h1>

        <hr>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="flexbox flex-column gap-16" style="padding: 6px 0;">
                <p class="dark-color">Please enter your email address to resend account confirmation instructions.</p>

                <div class="field">
                    <%= f.label :email %>

                    <div class="control">
                        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input', placeholder: 'E-mail' %>
                    </div>
                </div>
            </div>

            <hr>
            
            <div class="flexbox flex-justify-end gap-8">
                <%= link_to 'Cancel', new_user_session_path, data: { turbo: true } %>
                <%= f.submit 'Send' %>
            </div>
        <% end %>
    </div>
</div>
