<div class="user-edit-page-wrapper">
    <div class="card" data-turbo="false">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <% if resource.provider.nil? %>
                <div class="field">
                    <%= f.label :email, class: 'label' %>

                    <div class="control">
                        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input' %>
                    </div>
                </div>
            <% end %>


            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
                <%= f.label :first_name, class: 'label' %>

                <div class="control">
                    <%= f.text_field :first_name, autocomplete: 'first-name', class: 'input' %>
                </div>
            </div>

            <div class="field">
                <%= f.label :last_name, class: 'label' %>

                <div class="control">
                    <%= f.text_field :last_name, autocomplete: 'last-name', class: 'input' %>
                </div>
            </div>

            <div class="field">
                <%= f.label :username, class: 'label' %>

                <div class="control">
                    <%= f.text_field :username, autocomplete: 'username', class: 'input' %>
                </div>
            </div>

            <div class="field">
                <%= f.label :bio, class: 'label' %>

                <div class="control">
                    <%= f.text_area :bio, autocomplete: 'bio', class: 'textarea' %>
                </div>
            </div>

            <div class="field">
                <div class="file" data-controller="file">
                    <label class="file-label">
                        <%= f.file_field :avatar, class: 'file-input', data: { action: 'file#pasteFilename', file_target: 'fileInput' } %>

                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>

                            <span class="file-label">
                                Profile picture
                            </span>
                        </span>

                        <span class="file-name" data-file-target="fileNameContainer">Current PFP</span>
                    </label>
                </div>
            </div>

            <% if resource.provider.nil? %>
                <div class="field">
                    <%= f.label :password, class: 'label' %>

                    <div class="control">
                        <%= f.password_field :password, autocomplete: 'new-password', class: 'input' %>
                    </div>

                    <p class="help">Leave blank if you don't want to change it
                        <% if @minimum_password_length %>
                            (<%= @minimum_password_length %> characters minimum)
                        <% end %>
                    </p>
                </div>

                <div class="field">
                    <%= f.label :password_confirmation, class: 'label' %>

                    <div class="control">
                        <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input' %>
                    </div>
                </div>

                <div class="field">
                    <%= f.label :current_password, class: 'label' %>

                    <div class="control">
                        <%= f.password_field :current_password, autocomplete: 'current-password', class: 'input' %>
                    </div>

                    <p class="help">We need your current password to confirm changes</p>
                </div>
            <% end %>

            <div class="actions">
                <%= f.submit 'Update profile' %>
            </div>
        <% end %>

        <div data-controller="modal">
            <p class="bold">Danger zone!</p>

            <button class="light-blue-btn px-2 py-1 full-width" data-action="modal#showModal">Delete account</button>

            <div class="account-delete-confirm-modal modal" data-modal-target="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Delete account?</p>
                        <button class="delete" aria-label="close" data-action="modal#hideModal"></button>
                    </header>

                    <section class="modal-card-body">
                        <p>
                            Are you sure you want to permanently delete your account?
                            This will also, among other things delete all your posts and comments.
                            <strong>This action is irreversible</strong>.
                        </p>
                    </section>

                    <footer class="modal-card-foot flexbox gap-8 flex-justify-end" data-turbo="true">
                        <button class="modal-btn-secondary" data-action="modal#hideModal">Cancel</button>

                        <a href="<%= registration_path resource_name %>" data-turbo-method="delete">
                            <button class="modal-btn-primary" tabindex="-1" data-action="modal#hideModal">Delete</button>
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
