<div class="register-page-wrapper">
    <div class="warning-msg notification is-danger" style="top: 12px; left: 12px;">
       Welcome to Faceboom! Please note that this app is not affiliated with Facebook and is just a hobby project created by a student for educational purposes. By signing in, you acknowledge that you understand that this app is not Facebook and any content or information shared on this app may not be subject to the same privacy policies as Facebook.
    </div>

    <h2 class="faceboom-logo">faceboom</h2>

    <div class="card" data-turbo="false">
        <div class="flexbox flex-column">
            <h1 class="page-heading">Create a new account</h1>
            <p class="page-subtitle">It's quick and easy.</p>
        </div>

        <hr>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            
            <div class="flexbox gap-4">
                <div class="field">
                    <%= f.label :first_name %>

                    <div class="control">
                        <%= f.text_field :first_name, autofocus: true, autocomplete: 'first-name', class: 'input', placeholder: 'First name' %>
                    </div>
                </div>

                <div class="field">
                    <%= f.label :last_name %>

                    <div class="control">
                        <%= f.text_field :last_name, autocomplete: 'last-name', class: 'input', placeholder: 'Last name' %>
                    </div>
                </div>
            </div>

            <div class="field">
                <%= f.label :email %>

                <div class="control">
                    <%= f.email_field :email, autocomplete: 'email', class: 'input', placeholder: 'E-mail' %>
                </div>
            </div>

            <div class="field">
                <%= f.label :password %>

                <div class="control">
                    <%= f.password_field :password, autocomplete: 'new-password', class: 'input', placeholder: 'Password' %>
                </div>
            </div>

            <div class="field">
                <%= f.label :password_confirmation %>

                <div class="control">
                    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input', placeholder: 'Password confirmation' %>
                </div>

                <% if @minimum_password_length %>
                    <p class="help">
                        <%= @minimum_password_length %> characters minimum
                    </p>
                <% end %>
            </div>

            <div class="sign-up-btn-wrapper">
                <%= f.submit 'Sign up' %>

                <a href="<%= new_user_session_path %>" data-turbo="true">Already have an account?</a>
            </div>
        <% end %>
    </div>

    <p class="font-06" style="color: grey; margin-top: -16px;">
        By creating an account, you agree to our <a href="/privacy_policy">Privacy policy</a>.
    </p>
</div>
