<div class="comment">
    <%= image_tag comment.user.avatar %>

    <div class="flexbox flex-column">
        <div class="comment-bubble" style="position: relative;">
            <a href="<%= user_path comment.user %>"><%= comment.user.full_name %></a>

            <p><%= comment.body %></p>

            <% if comment.likes.any? %>
                <i class="fa-solid fa-heart tooltip">
                    <span class="tooltiptext" style="width: 40px; margin-left: -25px;"><%= comment.likes.count %></span>
                </i>
            <% end %>
        </div>

        <div class="comment-actions">
            <a href="">Like</a>
            <a href="">Reply</a>
            <p><%= comment.time_since short: true, approx: true %></p>
        </div>
    </div>
</div>
