<div class="comment">
    <h6><%= comment.user.full_name %></h6>
    <p><%= comment.body %></p>

    <%= link_to "#{comment.likes.count} likes", like_comment_path(comment), id: "comment-#{comment.id}-like-link", data: { turbo_method: :post } %>
    <br>
    
    <%= turbo_frame_tag 'comment-reply-form' do %>
        <%= link_to 'Reply', comment_reply_path(comment.id) %>
    <% end %>

    <% if comment.comments.any? %>
        <%= turbo_frame_tag "comment-#{comment.id}-replies" do %>
            <br><%= link_to "#{comment.comments.count} replies", comment_replies_path(comment), id: "comment-#{comment.id}-replies-link" %>
        <% end %>
    <% else %>
        <div id="comment-<%=comment.id%>-replies-container" class="comment-replies">
        </div>
    <% end %>
</div>