<div class="comment">
    <a style="height: 32px;" href="<%= user_path comment.user %>"><%= image_tag comment.user.avatar %></a>

    <div class="flexbox flex-column">
        <div class="comment-bubble">
            <a href="<%= user_path comment.user %>"><%= comment.user.full_name %></a>

            <p><%= comment.body %></p>

            <div id="comment-<%= comment.id %>-likes-count-wrapper">
                <% if comment.likes.any? %>
                    <i class="fa-solid fa-heart tooltip">
                        <span id="comment-<%= comment.id %>-likes-count" class="tooltiptext"><%= comment.likes.count %></span>
                    </i>
                <% end %>
            </div>
        </div>

        <div class="comment-actions">
            <div id="comment-<%= comment.id %>-like-link-wrapper">
                <a href="<%= like_comment_path comment %>" data-turbo-method="post"
                style="<% if comment.liked_by? current_user %>color: rgb(24,119,242);<% end %>"
                >
                    Like
                </a>
            </div>

            <a href="<%= comment_reply_path comment %>" data-turbo-frame="comment-<%= comment.id %>-reply-form">Reply</a>

            <p><%= comment.time_since short: true, approx: true %></p>
        </div>

        <%= turbo_frame_tag "comment-#{comment.id}-reply-form" do %><% end %>

        <% if comment.comments.any? %>
            <%= turbo_frame_tag "comment-#{comment.id}-replies" do %>
                <a id="comment-<%= comment.id %>-replies-link" class="comment-replies-link" href="<%= comment_replies_path comment %>"
                >
                    <%= pluralize comment.comments.count, 'Reply' %>
                </a>
            <% end %>
        <% else %>
            <div id="comment-<%=comment.id%>-replies-container" class="comment-replies">
            </div>
        <% end %>
    </div>
</div>

