<h1>Respond to a comment</h1>

<h2>By <%= @original_comment.user.full_name %></h2>
<p><%= @original_comment.body %></p>

<%= turbo_frame_tag "comment-#{@original_comment.id}-reply-form" do %>
    <div class="comment-reply-form-wrapper">
        <a href="<%= user_path current_user %>">
            <%= image_tag current_user.avatar %>
        </a>
        
        <div>
            <div id="<%= @original_comment.id %>-invalid-reply-msg-wrapper"></div>

            <%= form_with model: @new_comment, url: post_comments_path(@original_comment.commentable), data: { controller: 'comment' } do |f| %>
                <%= f.hidden_field :comment_id, value: @original_comment.id, name: 'comment_id' %>
                <%= f.text_area :body, id: "comment-#{@original_comment.id}-reply-input", placeholder: "Reply to #{@original_comment.user.full_name}", data: { comment_target: 'input' } %><br>
                <%= f.hidden_field :body_copy, name: 'comment[body]', data: { comment_target: 'inputHidden' } %>
                <%= f.submit 'Respond', data: { action: 'comment#submit' } %>
            <% end %>
        </div>
    </div>
<% end %>
