<div class="flexbox flex-center">
    <div class="card p-12">
        <h1 class="page-heading">People</h1>

        <% if @users.empty? %><i>No people found.</i><% end %>

        <% @users.each do |user, request_status, is_friend, data| %>
            <div id="user-<%= user.id %>" class="flexbox gap-12 py-3">
                <%= render 'users/avatar_link', user: user, size: '64px' %>

                <div class="flexbox flex-column">
                    <a href="<%= user_path user %>">
                        <p class="bold dark-color"><%= user.full_name %> <span class="<% if user.username == '' %>hidden<% end %>">(@<%= user.username  %>)</span></p>
                    </a>

                    <% if is_friend %>
                        <p  class="font-09">Friend</p>
                    <% else %>
                        <p class="font-08"><%= user.bio[..100] + (user.bio&.length > 100 ? '...' : '') %></p>
                    <% end %>
                </div>
                
                <div class="ml-auto" style="align-self: center;">
                    <div id="profile-<%= user.id %>-action-btn-container">
                        <% if is_friend %>
                            <a href="<%= chat_user_path user %>?exit=_" data-turbo-frame="current-chat">
                                <button class="light-blue-btn px-12 py-2" tabindex="-1">Message</button>
                            </a>
                        <% else %>
                                <%= render 'users/profile_action_btn', is_self: false,
                                                        profile_action_data: data,
                                                        friend_request_status: request_status,
                                                        submit_btn_style: 'light-blue-btn px-12 py-2',
                                                        respond_format: 'turbo-stream'
                                %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="current-chat-wrapper">
        <%= turbo_frame_tag 'current-chat' do %><% end %>
    </div>
</div>
