<div class="user-page-wrapper">
    <div></div>

    <div>
        <div class="user-badge" style="gap: 16px;">
            <%= image_tag @user.avatar, class: 'hover-shadow' %>
            
            <div class="flexbox flex-column">
                <h2><%= @user.full_name %> <% if @user.username != '' %><span style="font-size: 0.5em;">(<%= @user.username %>)</span><% end %></h2>
                <p><%= pluralize @user.friends.count, 'friend' %></p>
            </div>

            <button>Action</button>
        </div>

        <hr>

        <div data-controller="tabs">
            <div class="tabs is-centered is-small is-fullwidth">
                <ul>
                    <li class="is-active"><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="posts-section-container">Posts</a></li>
                    <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="about-section-container">About</a></li>
                    <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="friends-section-container">Friends</a></li>
                </ul>
            </div>

            <div id="posts-section-container" data-tabs-target="tabContainer">
                <%= render 'posts/post_create_card' if @user == current_user %>

                <div id="posts">
                    <%= render(partial: "posts/post", collection: @user.posts) || 'User has no posts.' %>
                </div>
            </div>

            <div id="about-section-container" data-tabs-target="tabContainer" hidden>                
                <div class="flexbox flex-column card" style="gap: 16px; padding: 12px;">
                    <h2 style="font-weight: 500; font-size: 1.4em;">About</h2>

                    <div>
                        <p>First name: <strong><%= @user.first_name %></strong></p>
                    </div>
                    
                    <div>
                        <p>Last name: <strong><%= @user.last_name %></strong></p>
                    </div>

                    <div>
                        <p>Username:
                            <% if @user.username.empty? %>
                                <i>No username set</i>
                            <% else %>
                                <strong><%= @user.username.empty? ? 'No username' : @user.username %></strong>
                            <% end %>
                        </p>
                    </div>

                    <div>
                        <p>BIO:<br>
                            <% if @user.bio.empty? %>
                                <i>No BIO available</i>
                            <% else %>
                                <textarea name="" id="" cols="30" rows="10" readonly><%= @user.bio %></textarea>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>

            <div id="friends-section-container" data-tabs-target="tabContainer" hidden>
                <div class="card full-width">
                    <h2 style="font-weight: 500; font-size: 1.4em; margin-left: 12px; margin-top: 12px;">Friends</h2>

                    <div class="user-friends-wrapper">
                        <% @user.friends.each do |friend| %>
                            <div class="friend">
                                <a href="<%= user_path friend %>">
                                    <%= image_tag friend.avatar %>
                                </a>

                                <a href="<%= user_path friend %>"><%= friend.full_name %></a>
                                
                                <% if current_user.friends_with? friend %>
                                    <div class="dropdown is-hoverable">
                                        <div class="dropdown-trigger">
                                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                                <span><i class="fa-solid fa-ellipsis"></i></span>
                                            </button>
                                        </div>

                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                            <div class="dropdown-content">
                                                <a href="" class="dropdown-item" data-turbo-method="delete">
                                                    <i class="fa-regular fa-circle-xmark"></i></i> Unfriend
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                <% else %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div></div>
</div>
