<h1>User detail page</h1>

<%= image_tag @user.avatar, style: 'border-radius: 50%; width: 64px; height: 64px;' %>

<h2><%= @user.full_name %> <% if @user.username != '' %><span style="font-size: 0.8em;">(<%= @user.username %>)</span><% end %></h2>
<p><%= @user.bio %></p> 

<% if @is_self %>
    <%= link_to 'Edit profile', edit_user_registration_path %>
<% else %>
    <form id="profile-action-form" action="<%=@profile_action_data[:url]%>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="id" value="<%=@profile_action_data[:obj_id]%>" />
    </form>

    <input type="submit" name="commit" form="profile-action-form" value="<%=@profile_action_data[:submit_text]%>">

    <% if @friend_request_status == 2 %>
        <form id="profile-action-form-reject-request" action="<%=friend_request_reject_path%>" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="id" value="<%=@profile_action_data[:obj_id]%>" />
        </form>

        <input type="submit" name="commit" form="profile-action-form-reject-request" value="Reject request">
    <% end %>
<% end %>

<h3><%= @user.full_name %>'s posts </h3>
<% @user.posts.each do |post| %>
    <a href="<%= post_path(post) %>">
        <div class="post">
            <p><%= post.body %></p>
            <% if post.image&.attached? %><%= image_tag post.image, style: 'width: 300px;' %><% end %>
        </div>
    </a>
<% end %>
