<div class="user-page-wrapper">
    <div></div>

    <div>
        <div class="user-badge">
            <%= image_tag @user.avatar, class: 'hover-shadow' %>
            
            <div class="flexbox flex-column">
                <h2><%= @user.full_name %> <% if @user.username != '' %><span>(<%= @user.username %>)</span><% end %></h2>
                <p><%= pluralize @user.friends.count, 'friend' %></p>
            </div>

            <%= render 'profile_action_btn', is_self: @is_self,
                                             profile_action_data: @profile_action_data,
                                             friend_request_status: @friend_request_status 
            %>
        </div>

        <hr>

        <div data-controller="tabs">
            <div class="tabs is-centered is-small is-fullwidth">
                <ul>
                    <li class="is-active"><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="posts-section-container">Posts</a></li>
                    <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="about-section-container">About</a></li>
                    <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="friends-section-container">Friends</a></li>
                    <% if @user == current_user %>
                        <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                            data-container-id="saved-posts-section-container">Saved</a></li>
                    <% end %>
                </ul>
            </div>

            <div id="posts-section-container" data-tabs-target="tabContainer">
                <%= render 'posts/post_create_card' if @user == current_user %>

                <div id="posts">
                    <%= render(partial: "posts/post", collection: @user.posts) || (@user == current_user ? '' : '<i>User has no posts.</i>'.html_safe) %>
                </div>
            </div>

            <div id="about-section-container" class="hidden" data-tabs-target="tabContainer">                
                <div class="card">
                    <h2>About</h2>

                    <div>
                        <p>First name: <strong><%= @user.first_name %></strong></p>
                    </div>
                    
                    <div>
                        <p>Last name: <strong><%= @user.last_name %></strong></p>
                    </div>

                    <div>
                        <p>Username:
                            <% if @user.username.empty? %>
                                <i>No username set</i>
                            <% else %>
                                <strong><%= @user.username.empty? ? 'No username' : @user.username %></strong>
                            <% end %>
                        </p>
                    </div>

                    <div>
                        <p>BIO:<br>
                            <% if @user.bio.empty? %>
                                <i>No BIO available</i>
                            <% else %>
                                <textarea name="" id="" cols="30" rows="10" readonly><%= @user.bio %></textarea>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>

            <div id="friends-section-container" class="hidden" data-tabs-target="tabContainer">
                <div class="card full-width">
                    <h2 class="ml-12 mt-12">Friends</h2>

                    <div class="user-friends-wrapper">
                        <%= render(partial: 'friend', collection: @user.friends, locals: { is_self: @is_self }) || "<i>#{@user == current_user ? 'You have' : 'User has'} no friends.</i>".html_safe %>
                    </div>
                </div>
            </div>
            
            <% if @user == current_user %>
                <div id="saved-posts-section-container" class="hidden" data-tabs-target="tabContainer">
                    <h2 class="ml-12 mt-12">Saved posts</h2>

                    <% if @user.saved_posts.empty? %>
                        <i class="full-width ml-12">You have no saved posts.</i>
                    <% else %>
                        <% @user.saved_posts.each do |post| %>
                            <div id="saved-post-<%= post.id %>" class="saved-post card full-width">
                                <div class="flexbox flex-column gap-4 flex-align-center">
                                    <a href="<%= post_path post %>">
                                        <%= image_tag(post.image.attached? ? post.image : post.user.avatar) %>
                                    </a>

                                    <a href="<%= save_post_path post %>" data-turbo-method="post" class="font-07" style="color: red;">
                                        <i class="fa-solid fa-xmark"></i> Unsave
                                    </a>
                                </div>

                                <a href="<%= post_path post %>" style="text-align: justify;"><%= post.body %></a>
                            </div>
                        <% end %>
                    <% end %>

                </div>
            <% end %>
        </div>
    </div>

    <div></div>
</div>
