<div class="user-page-wrapper">
    <div></div>

    <div>
        <div class="flexbox flex-align-center" style="gap: 16px;">
            <%= image_tag @user.avatar, style: 'border-radius: 50%; width: 176px; height: 176px;' %>
            
            <div class="flexbox flex-column">
                <h2><%= @user.full_name %> <% if @user.username != '' %><span style="font-size: 0.8em;">(<%= @user.username %>)</span><% end %></h2>
                <p><%= pluralize @user.friends.count, 'friend' %></p>
            </div>

            <button style="margin-left: auto;">Action</button>
        </div>

        <div data-controller="tabs">
            <div class="tabs is-centered is-small is-fullwidth">
                <ul>
                    <li class="is-active"><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="posts-section-container">Posts</a></li>
                    <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="about-section-container">About</a></li>
                    <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="friends-section-container">Friends</a></li>
                </ul>
            </div>

            <div id="posts-section-container" data-tabs-target="tabContainer">
                <%= render 'posts/post_create_card' if @user == current_user %>

                <div id="posts">
                    <%= render(partial: "posts/post", collection: @user.posts) || 'User has no posts.' %>
                </div>
            </div>

            <div id="about-section-container" data-tabs-target="tabContainer" hidden>
                <div class="flexbox flex-column card" style="gap: 16px; padding: 12px;">
                    <div>
                        <p>First name: <strong><%= @user.first_name %></strong></p>
                    </div>
                    
                    <div>
                        <p>Last name: <strong><%= @user.last_name %></strong></p>
                    </div>

                    <div>
                        <p>Username:
                            <% if @user.username.empty? %>
                                <i>No username set</i>
                            <% else %>
                                <strong><%= @user.username.empty? ? 'No username' : @user.username %></strong>
                            <% end %>
                        </p>
                    </div>

                    <div>
                        <p>BIO:<br>
                            <% if @user.bio.empty? %>
                                <i>No BIO available</i>
                            <% else %>
                                <textarea name="" id="" cols="30" rows="10" readonly><%= @user.bio %></textarea>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>

            <div id="friends-section-container" data-tabs-target="tabContainer" hidden>
                <div class="card">
                    <div class="user-friends-wrapper">
                        <% @user.friends.each do |friend| %>
                            <div class="friend">
                                <%= image_tag friend.avatar %>
                                <a href="<%= user_path friend %>"><%= friend.full_name %></a>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div></div>
</div>
