<% session_cookie = faceboom_session %>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <h1 class="title is-4">faceboom</h1>
    </a>

    <div aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" class="navbar-burger dropdown is-hoverable is-right">
        <div class="dropdown-trigger" style="margin: 5px 3px;">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>

        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a href="<%= user_path current_user %>" class="dropdown-item">
                    My Account
                </a>
                <a href="<%= notifications_path %>" class="dropdown-item">
                    Notifications
                </a>
                <a href="<%= users_path %>" class="dropdown-item">
                    Explore
                </a>
                <a href="<%= destroy_user_session_path %>" class="dropdown-item" data-turbo-method="delete">
                    Log out
                </a>
            </div>
        </div>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="control has-icons-left">
            <input id="search-faceboom-input" class="input is-rounded" type="text" placeholder="Search Faceboom">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
      </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item has-dropdown" data-controller="dropdown" data-dropdown-target="main">
            <%= link_to '<i class="fa-solid fa-message"></i>'.html_safe, message_notifications_see_all_path,
                        id: 'message-notifications-btn', class: "navbar-link is-arrowless #{unseen_message_notifications.any? && 'has-text-danger'}",
                        data: { action: 'dropdown#showDropdown', turbo_method: :put }
            %>

            <div class="navbar-dropdown is-right">
                <div class="dropdown-content p-8 pr-0">
                    <div class="notifications scrollable pr-8" style="max-height: 500px;">
                        <h4 class="title is-4">Chats</h4>
                        
                        <div id="message-notifications-wrapper">
                            <%= render(partial: 'message_notifications/noti', collection: message_notifications,
                                                                              locals: { session_cookie: session_cookie })
                            %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-item has-dropdown" data-controller="dropdown" data-dropdown-target="main">
            <a id="notifications-btn" class="navbar-link is-arrowless <% if unread_notifications.any? %>has-text-danger<%end %>" data-action="dropdown#showDropdown">
                <i class="fa-solid fa-bell"></i>
            </a>

            <div class="navbar-dropdown is-right">
                <div class="dropdown-content">
                    <div class="dropdown-item" data-controller="tabs">
                        <%= render 'notifications/notification_tabs', latest_notifications: latest_notifications.first(3),
                                                                      unread_notifications: unread_notifications.first(3),
                                                                      is_all: false
                        %>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
            <a id="notifications-btn" class="navbar-link is-arrowless">
                <%= image_tag current_user.avatar, class: 'rounded', style: 'width: 28px; height: 28px;', loading: 'lazy' %>
            </a>

            <div class="navbar-dropdown is-right">
                <div class="dropdown-content">
                    <a href="<%= user_path(current_user) %>" class="dropdown-item">
                        <i class="fa-solid fa-user"></i> Account</a>
                    <a href="<%= destroy_user_session_path %>" class="dropdown-item" data-turbo-method="delete">
                        <i class="fa-solid fa-right-from-bracket"></i> <span>Log Out</span></a>
                </div>
            </div>
        </div>
    </div>
  </div>
</nav>
