<% session_cookie = get_session_cookie %>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <h1 class="title is-4">faceboom</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="control has-icons-left">
            <input id="search-faceboom-input" class="input is-rounded" type="text" placeholder="Search Faceboom">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
      </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item has-dropdown" data-controller="dropdown" data-dropdown-target="main">
            <%= link_to '<i class="fa-solid fa-message"></i>'.html_safe, message_notifications_see_all_path,
                        id: 'message-notifications-btn', class: "navbar-link is-arrowless #{get_unseen_message_notifications.any? && 'has-text-danger'}",
                        data: { action: 'dropdown#showDropdown', turbo_method: :put }
            %>

            <div class="navbar-dropdown is-right">
                <div class="dropdown-content p-8 pr-0">
                    <div class="notifications scrollable pr-8" style="max-height: 500px;">
                        <h4 class="title is-4">Chats</h4>

                        <% get_message_notifications.each do |noti| %>
                            <a href="<%= chat_user_path noti.sender %>?exit=_" data-turbo-frame="current-chat"
                               data-controller="chat" data-chat-read-messages-link-value="<%= messages_read_url noti.sender %>.json"
                               data-chat-session-cookie-value="<%= session_cookie %>" data-action="chat#readUnreadMessages"
                            >
                                <div class="noti">
                                    <%= image_tag noti.sender.avatar, style: 'max-width: 56px; max-height: 56px;' %>

                                    <div class="flexbox flex-column gap-1">
                                        <p id="msg-noti-<%= noti.id %>-sender" class="dark-color font-11 <% unless noti.message.is_read %>bold<% end %>">
                                            <%= noti.sender.full_name %>
                                        </p>

                                        <div class="flexbox flex-align-center gap-4">
                                            <p id="msg-noti-<%= noti.id %>-body" class="font-09" style="line-height: 1em; <% unless noti.message.is_read %>font-weight: 600; color: #1877f2;<% end %>">
                                                <%= noti.message.body[..25] + (noti.message.body.size > 25 ? '...' : '') %>
                                            </p>
                                            <p class="flexbox flex-center gap-6">
                                                <span class="font-07">•</span> <%= noti.message.time_since short: true, approx: true %>
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <% unless noti.message.is_read %>
                                        <span id="msg-noti-<%= noti.id %>-dot" class="ml-auto font-35" style="color: #1877f2;">•</span>
                                    <% end %>
                                </div>
                            </a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-item has-dropdown" data-controller="dropdown" data-dropdown-target="main">
            <a id="notifications-btn" class="navbar-link is-arrowless <% if get_unread_notifications.any? %>has-text-danger<%end %>" data-action="dropdown#showDropdown">
                <i class="fa-solid fa-bell"></i>
            </a>

            <div class="navbar-dropdown is-right">
                <div class="dropdown-content">
                    <div class="dropdown-item" data-controller="tabs">
                        <%= render 'notifications/notification_tabs', latest_notifications: get_latest_notifications.first(3),
                                                                      unread_notifications: get_unread_notifications.first(3),
                                                                      is_all: false
                        %>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
            <a id="notifications-btn" class="navbar-link is-arrowless">
                <%= image_tag current_user.avatar, class: 'rounded', style: 'width: 28px; height: 28px;', loading: 'lazy' %>
            </a>

            <div class="navbar-dropdown is-right">
                <div class="dropdown-content">
                    <a href="<%= user_path(current_user) %>" class="dropdown-item">
                        <i class="fa-solid fa-user"></i> Account</a>
                    <a href="<%= destroy_user_session_path %>" class="dropdown-item" data-turbo-method="delete">
                        <i class="fa-solid fa-right-from-bracket"></i> <span>Log Out</span></a>
                </div>
            </div>
        </div>
    </div>
  </div>
</nav>
