<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <h1 class="title is-4">faceboom</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="control has-icons-left">
            <input class="input is-rounded" type="text" placeholder="Search Faceboom">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
      </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item has-dropdown" data-controller="dropdown" data-dropdown-target="main">
            <a id="notifications-btn" class="navbar-link is-arrowless <% if get_unread_notifications.any? %>has-text-danger<%end %>" data-action="dropdown#showDropdown">
                <i class="fa-solid fa-bell"></i>
            </a>

            <div class="navbar-dropdown is-right">
                <div class="dropdown-content">
                    <div class="dropdown-item" data-controller="tabs">
                        <%= render 'notifications/notification_tabs', latest_notifications: get_latest_notifications.first(3),
                                                                    unread_notifications: get_unread_notifications.first(3)
                        %>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-item has-dropdown" data-controller="dropdown" data-dropdown-target="main">
            <a id="notifications-btn" class="navbar-link is-arrowless" data-action="dropdown#showDropdown">
                <%= image_tag current_user.avatar, style: 'border-radius: 50%; width: 28px; height: 28px;', loading: 'lazy' %>
            </a>

            <div class="navbar-dropdown is-right">
                <div class="dropdown-content">
                    <a href="<%= user_path(current_user) %>" class="dropdown-item">
                        <i class="fa-solid fa-user"></i> Account</a>
                    <a href="<%= destroy_user_session_path %>" class="dropdown-item" data-turbo-method="delete">
                        <i class="fa-solid fa-right-from-bracket"></i> <span>Log Out</span></a>
                </div>
            </div>
        </div>
    </div>
  </div>
</nav>
