<% if user_signed_in? %>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <h1>Faceboom</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="<%= new_post_path %>" class="navbar-item">
        New Post
      </a>

      <a href="<%= user_path(current_user) %>" class="navbar-item">
        Account
      </a>

      <div class="navbar-item has-dropdown" data-controller="dropdown" data-dropdown-target="main">
        <a class="navbar-link" data-action="dropdown#showDropdown">
          Notifications
        </a>

        <div class="navbar-dropdown">
            <div class="dropdown-content">
                <div class="dropdown-item" data-controller="tabs">
                    <%= render 'notifications/notification_tabs', latest_notifications: get_latest_notifications.first(3),
                                                                  unread_notifications: get_unread_notifications.first(3) 
                    %>

                    <a href="<%= notifications_path %>">See all</a>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a href="<%= destroy_user_session_path %>" class="button is-light" data-turbo-method="delete">
                Sign out
            </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<% end %>