<div class="chat-page-wrapper flexbox flex-column flex-center">
    <h2 class="page-heading">Chat between <%= @chat.users.map { |u| u.full_name }.join(', ') %></h2>

    <div class="chat-tile card p-8">
        <div class="chat-messages scrollable flexbox flex-column gap-6">
            <%= render(partial: 'messages/message', collection: @messages) || 'No messages yet.' %>
        </div>
        
        <%= form_with model: @message do |f| %>
            <%= render 'devise/shared/error_messages', resource: @message %>

            <%= f.hidden_field :chat, value: @message.chat.id %>

            <div class="control">
                <%= f.text_field :body, autofocus: true, required: true, autocomplete: 'body', class: 'input is-rounded' %>
            </div>
        <% end %>
    </div>
</div>
