<div class="login-page-wrapper">
    <div class="page-slogan-wrapper">
        <h2 class="faceboom-logo">faceboom</h2>

        <p>Faceboom brings you closer to <br> the people you love.</p>
    </div>

    <div class="card" data-turbo="false">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
                <%= f.label :email, class: 'label' %>

                <div class="control">
                    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input', placeholder: 'E-mail'  %>
                </div>
            </div>

            <div class="field">
                <%= f.label :password, class: 'label' %>

                <div class="control">
                    <%= f.password_field :password, autocomplete: 'current-password', class: 'input', placeholder: 'Password' %>
                </div>
            </div>

            <% if devise_mapping.rememberable? %>
                <div class="field remember-me-wrapper">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                </div>
            <% end %>

            <div class="actions">
                <%= f.submit 'Log in' %>
            </div>
        <% end %>

        <div class="forgot-password-link-wrapper" data-turbo="true">
            <%= link_to 'Forgot your password?', new_password_path(resource_name) %> <span>•</span>
            <%= link_to 'Resend unlock instructions', new_unlock_path(resource_name) %> <span>•</span>
            <%= link_to 'Resend confirm mail', new_confirmation_path(resource_name) %>
        </div>

        <hr>

        <div class="create-account-link-wrapper" data-turbo="true">
            <div>
                <%= link_to 'Create new account', new_registration_path(resource_name) %>

                <%= render 'shared/fb_social_btn' %>
            </div>
        </div>
    </div>
</div>
