<% is_detail = is_detail || false %>

<div class="post-info">
    <div class="post-user-wrapper">
        <%= render 'users/avatar_link', user: post.user %>

        <div class="flexbox flex-column">
            <h4><%= link_to post.user.full_name, post.user %></h4>
            <p style="font-size: 0.7em;"><%= post.time_since approx: true, short: true %></p>
        </div>
        
        <div class="dropdown is-hoverable <% if is_detail %>is-right<% end %>" data-controller="modal" style="margin-left: auto;">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span><i class="fa-solid fa-ellipsis"></i></span>
                </button>
            </div>

            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <% if post.user == current_user %>
                        <a class="dropdown-item" data-action="modal#showModal" data-mdl="post-delete-confirm-modal">
                            <i class="fa-solid fa-trash-can"></i> Delete
                        </a>


                        <a class="dropdown-item" data-action="modal#showModal" data-mdl="post-edit-modal">
                            <i class="fa-solid fa-pen"></i> Edit
                        </a>
                    <% end %>

                    <a id="post-<%= post.id %>-save-wrapper" class="dropdown-item" href="<%= save_post_path post %>" data-turbo-method="post">
                        <% if post.saved_by? current_user %>
                            <i class="fa-solid fa-bookmark"></i> Unsave
                        <% else %>
                            <i class="fa-regular fa-bookmark"></i> Save
                        <% end %>
                    </a>
                </div>
            </div>

            <% if post.user == current_user %>
                <%= render 'posts/post_delete_confirm_modal', post: post %>
                <%= render 'posts/post_action_modal', action: 'edit', post: post %>
            <% end %>
        </div>
    </div>

    <div id="post-<%= post.id %>-body-wrapper" class="post-body-wrapper">
        <p><%= post.body %></p>
    </div>
</div>
