<% is_detail = is_detail || false %>

<div class="post-info">
    <div class="post-user-wrapper" style="align-items: flex-start;">
        <%= render 'users/avatar_link', user: post.user %>

        <div class="flexbox flex-column">
            <h4><%= link_to post.user.full_name, post.user %></h4>
            <p style="font-size: 0.7em;"><%= post.time_since approx: true, short: true %></p>
        </div>
        
        <% if post.user == current_user %>
            <div class="dropdown is-hoverable <% if is_detail %>is-right<% end %>" style="margin-left: auto;">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span><i class="fa-solid fa-ellipsis"></i></span>
                    </button>
                </div>

                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="<%= post_path post %>" class="dropdown-item" data-turbo-method="delete">
                            <i class="fa-solid fa-trash-can"></i> Delete
                        </a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="post-body-wrapper">
        <p><%= post.body %></p>
    </div>
</div>
