<div id="post-edit-modal" class="modal post-edit-modal" data-controller="post-edit-modal" data-modal-target="modal">
    <div class="modal-background"></div>

    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit post</p>
            <button class="delete" aria-label="close"
                data-action="modal#hideModal post-edit-modal#restoreBody post-edit-modal#restoreImage" data-mdl="post-edit-modal"></button>
        </header>

        <section class="modal-card-body">
            <div class="flexbox flex-align-center" style="gap: 6px;">
                <%= render 'users/avatar_link', user: current_user %>
                <a href="<%= user_path current_user %>"><%= current_user.full_name %></a>
            </div>

            <%= form_with model: post, id: "edit-post-#{post.id}-form" do |f| %>
                <%= f.text_area :body, placeholder: "What's on your mind, #{current_user.first_name}?", 
                    data: { post_edit_modal_target: 'bodyField', action: 'post-edit-modal#changeBody' }
                %>

                <%= f.file_field :image, hidden: true,
                    data: { post_edit_modal_target: 'imageField', action: 'post-edit-modal#changePickedFile' }
                %>
            <% end %>
        </section>

        <footer class="modal-card-foot">
            <p id="picked-image-wrapper" class="picked-image-wrapper" data-post-edit-modal-target="pickedFile">
                <% if post.image.attached? %>
                    Current post image
                <% end %>
            </p>

            <div class="flexbox space-between flex-align-center full-width">
                <p>Add to your post</p>

                <i class="fa-regular fa-image" data-action="click->post-edit-modal#toggleImagePicker"></i>
            </div>
            
            <section id="post-<%= post.id %>-edit-btn-wrapper" class="full-width">
                <button type="submit" form="edit-post-<%= post.id %>-form" data-post-edit-modal-target="editButton"
                data-action="modal#hideModal post-edit-modal#updateOriginalAttributes"  data-mdl="post-edit-modal" disabled>Edit</button>
            </section>
        </footer>
    </div>
</div>
