<div class="post" id="post-<%= post.id %>">
    <%= render 'post_info', post: post %>
    
    <a href="<%= post_path post %>">
        <%= image_tag post.image&.attached? ? post.image : '' %>
    </a>

    <%= render 'post_actions_wrapper', post: post %>
</div>
