<% session_cookie = get_session_cookie %>

<div class="home-page-wrapper">
    <div class="flexbox flex-column flex-align-center">
        <% if @first_page %>
            <%= render 'posts/post_create_card' %>
        <% end %>

        <div id="posts" class="posts">
            <% @posts.each do |post| %>
                <%= render 'posts/post', post: post %>
            <% end %>
        </div>
        
        <%= paginate @posts, window: 2 %>
    </div>

    <div class="contacts-wrapper flexbox flex-column gap-12">
        <h3 class="px-12">Contacts</h3>

        <div class="scrollable">
            <% current_user.friends.each do |user| %>
                <a class="contact" href="<%= chat_user_path user %>?exit=_" data-turbo-frame="current-chat" 
                   data-controller="chat" data-action="chat#readUnreadMessages chat#seeMsgNotifications"
                   data-chat-read-messages-link-value="<%= messages_read_url user %>.json" data-chat-session-cookie-value="<%= session_cookie %>"
                   data-chat-see-msg-notifications-link-value="<%= message_notifications_see_url user %>.json"
                >
                    <div class="contact flexbox gap-8 p-12">
                        <%= image_tag user.avatar %>

                        <p><%= user.full_name %></p>
                    </div>
                </a>
            <% end %>
        </div>
    </div>
</div>

<% if @is_turbo_frame_request %>
    <div class="current-chat-wrapper">
        <%= turbo_frame_tag 'current-chat' do %><% end %>
    </div>
<% end %>
