<div class="post-page-wrapper">
    <a class="back-btn" href="javascript:history.back()">
        <i class="fa-solid fa-xmark"></i>
    </a>

    <div></div>

    <div>
        <%= image_tag @post.image&.attached? ? @post.image : '', style: 'width: 100%;' %>
    </div>

    <div></div>

    <div class="post-sidebar">
        <div class="scrollable full-height">
            <%= render 'post_info', post: @post, is_detail: true %>
            <%= render 'post_actions_wrapper', post: @post, disable_comment_btn: true %>
            
            <%= turbo_frame_tag "post-#{@post.id}-comments" do %>
                <hr style="margin: 0 auto;">
                <%= render 'post_comments', comments: @comments %>
            <% end %>
        </div>
        
        <%= render 'post_comment_form', comment: @comment, post: @post %>
    </div>
</div>
