<!DOCTYPE html>
<html>
  <head>
    <title>Faceboom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %><%= render 'shared/navbar' %><% end %>

    <div style="padding: 16px;">
        <% if notice%>
            <div id="notice" class="notification is-info is-light" data-controller="notification"
            data-notification-target="container">
                <button class="delete" data-action="notification#hideNotification"></button>
                <%= notice %>
            </div>
        <% end %>

        <% if alert %>
            <div id="alert" class="notification is-danger is-light" data-controller="notification"
            data-notification-target="container">
                <button class="delete" data-action="notification#hideNotification"></button>
                <%= alert %>
            </div>
        <% end %>
        
        <%= yield %>
    </div>

    <% if user_signed_in? %>
        <style>
            <%= ".chat-message-#{current_user.id}" %> {
                align-self: flex-end;
            }

            <%= ".chat-message-#{current_user.id} .chat-message-bubble" %> {
                color: white !important;
                background-color: rgb(0, 132, 255);
            }

            <%= ".chat-message-#{current_user.id} img" %> {
                display: none;
            }
        </style>
    <% end %>
  </body>
</html>
