<!DOCTYPE html>
<html>
  <head>
    <title>Faceboom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body style="background-color: black;">
    <div id="msg-noti-container" class="flexbox flex-column gap-6"></div>

    <% if user_signed_in? %>
        <audio class="hidden" id="msg-noti-sound"><source src="<%= asset_path 'msg-noti-sound.mp3' %>" type="audio/mpeg"></audio>
        <%= turbo_stream_from "user-#{current_user.id}", channel: UserChannel %>
    <% end %>

    <%= yield %>
  </body>
</html>
